.about_page #header {
  height: auto;
  background: none;
}

.about_page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#about {
  flex: 1;
  margin-top: 2rem;
}

.about_col_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_col_2 p {
  padding: 1rem;
}

#about {
  padding: 80px 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about_col_1 {
  flex-basis: 35%;
}

.about_col_1 img {
  width: 100%;
  border-radius: 15px;
}

.about_col_2 {
  flex-basis: 60%;
}

.sub_title {
  font-size: 60px;
  font-weight: 600;
  color: white;
}

@media screen and (max-width: 768px) {
  .about_col_2 .sub_title {
    font-size: 1.25rem;
  }

  .about_col_2 p {
    font-size: 1rem;
    display: block;
    text-align: left;
  }
}
