.mywork_page #header {
  height: auto;
  background: none;
}

.mywork_page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mywork_page main {
  flex: 1;
}

.workContainer {
  background-color: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: transform 0.5s;
}

.workContainer i {
  font-size: 1rem;
  padding: 1rem;
}

.workContainer h3 {
  font-size: 1rem;
}

.workContainer:hover {
  background-color: #ff004f;
  transform: translateY(-10px);
}

a {
  text-decoration: none;
  color: white;
}

.hide {
  display: none;
}

#portfolio {
  padding: 50px 0;
  text-align: center;
}

#portfolio .container {
  margin: 0 auto;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
}

.work {
  flex: 25%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
}

.work img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #262626;
  border-radius: 10px;
  display: block;
}

.work_content {
  padding: 20px;
}

.work:hover {
  transform: scale(1.1);
}
