.skills_page #header {
  height: auto;
  background: none;
}

.skills_page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.skills_page main {
  flex: 1;
}

#skills {
  padding: 30px 0;
}

.skill_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  margin-top: 50px;
}

.skill_list div {
  background-color: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: transform 0.5s;
}

.skill_list div i {
  font-size: 50px;
  margin-bottom: 30px;
}

.skill_list div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}

.skill_list div a {
  text-decoration: none;
  color: white;
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

.skill_list div:hover {
  background-color: #ff004f;
  transform: translateY(-10px);
}
